h1 {
  font-size: 25px;
  padding-left: 5px;
}

.no-display {
  display: none;
}

.App {
  display: flex;
  flex-wrap: wrap;
}

.calendar-body {
  max-width: 1134px;
  min-width: 1134px;
}

.calendar-header {
  display: flex;
  justify-content: start;
}

.calendar-header h2 {
  border-left: 1px solid rgb(236, 236, 236);
  border-right: 1px solid rgb(236, 236, 236);
  padding: 5px 10px;
  max-width: 140px;
  min-width: 140px;
  text-align: center;
  background: rgb(236, 236, 236);
}

.calendar-day-body {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

#day-component p {
  text-align: center;
}

.day {
  padding: 13px;
  min-width: 134px;
  max-width: 134px;
  min-height: 140px;
  max-height: 140px;
  border: 1px solid rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  background-color: white;
}

.disabled-day {
  border: 1px solid rgb(236, 236, 236);
  background: rgb(236, 236, 236);
}

.holidays {
  margin-top: 15px;
  overflow: hidden;
  text-align: center;
}

.holidays .MuiGrid2-container div:first-child {
  border-top: 1px solid rgb(236, 236, 236)
}

.sidebar {
  background: rgb(236, 236, 236);
  padding: 15px;
  width: 23%;
  max-width: 1134px;
  text-align: center;
}

.discord-messages p {
  text-align: left;
  margin-top: 10px
}