.calendar-body {
  max-width: 1134px;
  min-width: 1134px;
  overflow: auto;
}

.calendar-header {
  display: flex;
  justify-content: start;
}

.calendar-header h2 {
  border: 1px solid whitesmoke;
  padding: 5px 10px;
  max-width: 140px;
  min-width: 140px;
  text-align: center;
  background-color: #222;
  color: whitesmoke
}

.calendar-day-body {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.day {
  padding: 13px;
  min-width: 134px;
  max-width: 134px;
  min-height: 140px;
  max-height: 140px;
  overflow: hidden;
  border: 1px solid;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
}

.disabled-day {
  background: grey;
  border: 1px solid grey;
}