h1 {
  font-size: 25px;
  padding-left: 5px;
}

.App {
  display: flex;
  flex-wrap: wrap;
}

.calendar-body {
  max-width: 1134px;
  min-width: 1134px;
}

.calendar-header {
  display: flex;
  justify-content: start;
}

.calendar-header h2 {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 5px 10px;
  max-width: 140px;
  min-width: 140px;
  text-align: center;
  background: whitesmoke;
}

.calendar-day-body {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

#day-component p {
  text-align: center;
}

.day {
  padding: 13px;
  min-width: 134px;
  max-width: 134px;
  min-height: 140px;
  max-height: 140px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
}

.disabled-day {
  border: 1px solid whitesmoke;
  background: whitesmoke;
}

.grid-div {
  margin-top: 15px;
  overflow: hidden;
  text-align: center;
}

.grid-div .MuiGrid2-container div:first-child {
  border-top: 1px solid lightgrey
}

.sidebar {
  background: whitesmoke;
  padding: 15px;
  width: 23%;
  text-align: center;
}

.discord-messages p {
  text-align: left;
  margin-top: 10px
}